<br />
<div class="div-button">
  <button
    type="button"
    class="btn btn-success"
    onclick="location.href='https://github.com/topics/backend-server'"
  >
    Backend</button
  >&#160;&nbsp;
  <button
    type="button"
    class="btn btn-danger"
    onclick="alert('⚠️ Vous allez consulter vos Data!');location.href='https://app.powerbi.com/home?experience=power-bi'"
  >
    Data</button
  >&#160;&nbsp;
  <button
    type="button"
    class="btn btn-warning"
    onclick="location.href='https://angular.io/'"
  >
    Frontend
  </button>
</div>
<script>
  alert("Vous êtes connecté!");
</script>
<br />
<h1 align="center">Angular With Java</h1>
<div class="avatar-wrapper">
  <img
    class="profile-pic"
    alt="avatar-wrapper"
    src="assets/Avatar/avatar1.png"
    type="file"
    title="🟢Vous êtes connecté!"
    id="avatar-input-file"
    accept="image/*"
  />
</div>
